<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quaap.launchtime"
    android:versionCode="832"
    android:versionName="0.8.3">

    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".GlobState"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Config"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="false">
        </activity>
        <activity
            android:name=".ColorSettingsActivity"
            android:label="Color Config"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false">
        </activity>

        <activity
            android:name=".FeedbackActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:parentActivityName=".SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false" />
        <activity
            android:name=".CrashReportActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".BackupActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"/>
        <activity android:name=".CustomizeLaunchersActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"/>
        <activity android:name=".ChooseIconFromPackActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName=".SettingsActivity"/>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"/>

        <activity android:name=".PinShortcutActivity"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".LaunchReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ShortcutReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UnreadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
                <action android:name="com.anddoes.launcher.COUNTER_CHANGED" />
                <action android:name="com.sonyericsson.home.action.UPDATE_BADGE" />
                <action android:name="org.adw.launcher.counter.SEND" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widgets.WidgetsRestoredReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>