<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quaap.launchtime_official"
    android:versionCode="72"
    android:versionName="0.7.2">

    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />

    <!-- <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.quaap.launchtime_official.GlobState"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.quaap.launchtime_official.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quaap.launchtime_official.SettingsActivity"
            android:label="LaunchTime Config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quaap.launchtime_official.AboutActivity"
            android:parentActivityName="com.quaap.launchtime_official.MainActivity" />

        <receiver
            android:name="com.quaap.launchtime_official.LaunchReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.quaap.launchtime_official.ShortcutReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.quaap.launchtime_official.UnreadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BADGE_COUNT_UPDATE" />
                <action android:name="com.anddoes.launcher.COUNTER_CHANGED" />
                <action android:name="com.sonyericsson.home.action.UPDATE_BADGE" />
                <action android:name="org.adw.launcher.counter.SEND" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.quaap.launchtime_official.FeedbackActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.quaap.launchtime_official.CrashReportActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.quaap.launchtime_official.BackupActivity" />
        <activity android:name="com.quaap.launchtime_official.CustomizeLaunchersActivity"/>
        <activity android:name="com.quaap.launchtime_official.ChooseIconFromPackActivity"/>
    </application>

</manifest>